<template>
  <div class="wrapper">
    <v-toolbar
      class="toolbar"
      color="orange"
      flat
      >
      <router-link :to="{ name: 'Home'}"><i class="fab fa-hacker-news"></i></router-link>
      <p class="main-title">Search Hacker News</p>
    </v-toolbar>
    <loader v-if="loading"/>
    <p class="page-title">Comments:</p>
      <comment v-for="comment in post.children"
        :key="comment.id"
        :author="comment.author"
        :createdAt="comment.created_at"
        :content="comment.text"
        :children="comment.children"
        :depth="0"
      />
  </div>
</template>

<script>
import Comment from '../components/Comment.vue';
import Loader from '../components/Loader.vue';

const BASE_URL = process.env.VUE_APP_BASE_URL;

export default {
  name: 'CommentsView',
  components: {
    Comment,
    Loader,
  },
  data() {
    return {
      post: {},
      loading: true,
    };
  },
  mounted() {
    this.fetchPost();
  },
  methods: {
    async fetchPost() {
      const response = await fetch(`${BASE_URL}items/${this.$route.params.id}`);
      this.post = await response.json();
      this.loading = false;
    },
  },
};
</script>

<style scoped>
.fa-hacker-news {
  color: orange;
  background-color: #fff;
  font-size: 3em;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: .3em;
}
.page-title {
  margin-left: 2em;
  font-weight: bold;
  margin-top: .8em;
  font-size: 1.5em;
}
.main-title {
  font-weight: bold;
  color: #fff;
  margin-top: .7em;
  font-size: 1.3em;
}
.wrapper {
  background-color: #f6f6ef;
}
</style>
