<template>
  <div class="wrapepr">
    <navbar @searchChange="handleSearchChange"/>
    <helper-bar />
    <loader v-if="loading"/>
    <posts-list :postsList="postsList"/>
    <pagination @pageChange="handlePageChange"/>
  </div>
</template>

<script>
import HelperBar from '../components/HelperBar.vue';
import Navbar from '../components/Navbar.vue';
import Pagination from '../components/Pagination.vue';
import PostsList from '../components/PostsList.vue';
import Loader from '../components/Loader.vue';

const BASE_URL = process.env.VUE_APP_BASE_URL;
const POSTS_PER_PAGE = 20;

export default {
  name: 'Home',
  components: {
    Navbar,
    PostsList,
    Pagination,
    HelperBar,
    Loader,
  },
  data() {
    return {
      postsList: [],
      loading: true,
    };
  },
  mounted() {
    this.fetchPosts();
  },
  methods: {
    async fetchPosts(page = 1, search = '') {
      const response = await fetch(`${BASE_URL}search?&hitsPerPage=${POSTS_PER_PAGE}&query=${search}&page=${page}`);
      const json = await response.json();
      this.postsList = json.hits;
      this.loading = false;
      console.log(this.postsList);
    },
    handlePageChange(page) {
      this.fetchPosts(page);
    },
    handleSearchChange(search) {
      this.fetchPosts(1, search);
    },
  },
};
</script>
