<template>
  <div class="wrapper">
    <v-toolbar
      class="toolbar"
      color="orange"
      flat
      >
      <router-link :to="{ name: 'Home'}"><i class="fab fa-hacker-news"></i></router-link>
      <p class="main-title">Search Hacker News</p>
    </v-toolbar>
    <loader v-if="loading"/>
    <p class="page-title">User stats:</p>
    <user
      :username="user.username"
      :about="user.about"
      :karma="user.karma"
      :commentCount="user.comment_count"
    />
  </div>
</template>

<script>
import Loader from '../components/Loader.vue';
import User from '../components/User.vue';

const BASE_URL = process.env.VUE_APP_BASE_URL;

export default {
  name: 'UserView',
  components: {
    Loader,
    User,
  },
  data() {
    return {
      user: {},
      loading: true,
    };
  },
  mounted() {
    this.fetchUser();
  },
  methods: {
    async fetchUser() {
      const response = await fetch(`${BASE_URL}users/${this.$route.params.username}`);
      this.user = await response.json();
      console.log(this.user);
      this.loading = false;
    },
  },
};
</script>

<style scoped>
.fa-hacker-news {
  color: orange;
  background-color: #fff;
  font-size: 3em;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: .3em;
}
.main-title {
  font-weight: bold;
  color: #fff;
  margin-top: .7em;
  font-size: 1.3em;
}
.page-title {
  margin-left: 2em;
  font-weight: bold;
  margin-top: .8em;
  font-size: 1.5em;
}
.wrapper {
  background-color: #f6f6ef;
  height: 100vh;
}
</style>
