<template>
  <div>
    <input
      type="text"
      name="search"
      placeholder="Search stories by title..."
      @input="handleChange"
    >
  </div>
</template>

<script>
export default {
  name: 'BaseInput',
  props: {
    value: {
      type: String,
    },
  },
  methods: {
    handleChange(e) {
      this.$emit('input', e.target.value);
    },
  },
};
</script>

<style scoped>
input {
  height: 2.5em;
  width: 70vw;
  margin-right: .2em;
  margin-left: .2em;
  background-color: #fff;
  outline: none;
  letter-spacing: 1px;
  padding: .5em;
}
</style>
