<template>
  <div :style="indent" class="wrapper">
    <v-card elevation="2" class="card">
      <p class="author">{{ author }}</p>
      <p>{{ createdAt.slice(0,10) }}</p>
      <p><span v-html="content"></span></p>
    </v-card>
    <comment v-for="comment in children"
      :key="comment.id"
      :author="comment.author"
      :createdAt="comment.created_at"
      :content="comment.text"
      :children="comment.children"
      :depth="depth + 1"
    />
  </div>
</template>

<script>
export default {
  name: 'Comment',
  props: {
    author: {
      type: String,
    },
    content: {
      type: String,
    },
    createdAt: {
      type: String,
    },
    children: {
      type: Array,
    },
    depth: {
      type: Number,
      default: 1,
    },
    title: {
      type: String,
    },
  },
  computed: {
    indent() {
      return {
        transform: `translate(${this.depth * 10}px)`,
        marginLeft: `${3}em`,
        marginTop: `${0.3}em`,
      };
    },
  },
};
</script>

<style scoped>
.author {
  font-weight: bold;
}
.card {
  inline-size: 50vw;
  padding: .5em;
  margin-top: .8em;
}
</style>
