<template>
  <div class="wrapper">
    <label for="search">Search</label>
    <select name="search" id="search">
      <option value="">All</option>
      <option value="">Stories</option>
      <option value="">Comments</option>
    </select>
    <label for="by">by</label>
    <select name="by" id="by">
      <option value="">Popularity</option>
      <option value="">Date</option>
    </select>
    <label for="for">by</label>
    <select name="for" id="for">
      <option value="">All time</option>
      <option value="">Last 24</option>
      <option value="">Past Week</option>
      <option value="">Past Month</option>
      <option value="">Past Year</option>
      <option value="">Custom range</option>
    </select>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.wrapper {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: #f6f6ef;
}
label {
  padding: 0.5em;
}
select {
  border: 1px solid black;
  cursor: pointer;
  background-color: #fff;
  padding: .1em;
}
option {
  padding: 10px;
}
</style>
