<template>
  <div class="loader">
    <div class="text-center">
      <v-progress-circular
        indeterminate
        color="amber"
      ></v-progress-circular>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loader',
};
</script>

<style scoped>
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
</style>
