<template>
  <nav>
    <v-toolbar
      class="toolbar"
      color="orange"
      flat
      >
      <router-link :to="{ name: 'Home'}"><i class="fab fa-hacker-news"></i></router-link>
      <p class="main-title">Search Hacker News</p>
      <v-spacer></v-spacer>
      <base-input v-model="searchValue" @input="handleInput"/>
      <v-spacer></v-spacer>
    </v-toolbar>
  </nav>
</template>

<script>
import BaseInput from './BaseInput.vue';

export default {
  name: 'Navbar',
  components: {
    BaseInput,
  },
  data() {
    return {
      searchValue: '',
    };
  },
  methods: {
    handleInput() {
      this.$emit('searchChange', this.searchValue);
    },
  },
};
</script>

<style scoped>
.input {
  background-color: #fff;
  outline: none;
}
.fa-hacker-news {
  color: orange;
  background-color: #fff;
  font-size: 3em;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: .3em;
}
.main-title {
  font-weight: bold;
  color: #fff;
  margin-top: .7em;
  font-size: 1.3em;
}
</style>
