<template>
  <div class="wrapper">
    <single-post
      v-for="post in postsList"
      :key="post.objectID"
      :post="post"
    />
  </div>
</template>

<script>
import SinglePost from './SinglePost.vue';

export default {
  name: 'PostsList',
  components: {
    SinglePost,
  },
  props: {
    postsList: {
      type: Array,
      default: () => [
        {
          id: 1,
          title: 'test1',
          desc: 'test1',
          url: 'test1',
        },
        {
          id: 2,
          title: 'test2',
          desc: 'test2',
          url: 'test2',
        },
      ],
    },
  },
};
</script>

<style>
.wrapper {
  background-color: #f6f6ef;
}
</style>
