<template>
  <div class="single-post">
    <v-card elevation="2">
      <div class="post-header">
        <router-link
          :to="{
            name: 'CommentsView',
            params: {
              id: post.objectID
            }
          }"
          class="title"
        >{{ post.title }}</router-link>
        <a :href="post.url" target="blank" class="url">{{ post.url }}</a>
      </div>
      <div class="post-footer">
        <p>{{ post.points }} points</p>
        <router-link
          class="post-author"
          :to="{
            name: 'UserView',
            params: {
              username: post.author
            }
          }"
        >{{ post.author }}</router-link>
        <p>{{ post.created_at.slice(0,10) }}</p>
        <router-link
          :to="{
            name: 'CommentsView',
            params: {
              id: post.objectID
            }
          }"
          class="comments"
        >{{ post.num_comments }} comments</router-link>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'SinglePost',
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style scoped>
.single-post {
  padding: .5em;
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9em;
  margin-left: .5em;
  margin-right: .5em;
}
.post-header p {
  margin-top: .1em;
}
.title {
  font-size: .1em;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: .5em;
  margin-right: .5em;
}
.url {
  color: black;
  text-decoration: none;
  font-size: .8em;
}
.comments {
  color: black;
  text-decoration: none;
}
.post-author {
  text-decoration: none;
  color: black;
  font-weight:bold
}
</style>
