<template>
  <div>
    <v-card elevation="2" class="card">
      <p>Username: {{ username }}</p>
      <p>About: <span v-html="about"></span></p>
      <p>Comments count: {{ commentCount }}</p>
      <p>Karma: {{ karma }}</p>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'User',
  props: {
    username: {
      type: String,
    },
    about: {
      type: String,
    },
    karma: {
      type: Number,
    },
    commentCount: {
      type: Number,
    },
  },
};
</script>

<style scoped>
.card {
  inline-size: 50vw;
  padding: .9em;
  margin-top: .8em;
  margin-left: 3em;
}
p {
  font-weight: 400;
}
</style>
